.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}

.banner {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}