.folder {

    display: flex;
    flex-direction: column;

    padding: 1rem;

}

.item__wrapper {

    display: flex;
    flex-direction: column;


    /* flex-wrap: nowrap; */
    /* justify-content: flex-start; */
    /* gap: 4px; */
}

.item__wrapper li {
    list-style: none;
}