.folder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #0F172A;
    border-radius: 0.8rem;
    border: 1px solid #ffffff1a;
    height: 100%;
}

.item__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.item {
    list-style: none;
    margin: 0.2rem 0rem 0.2rem 0rem;
}

.item:hover {
    background: #cf0f0f;
    cursor: pointer;
}